Repository maksimkedys/milionaire-game: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

feat: update readme
  README.md
Due: yarn prettier --write

feat: add unit tests
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  TESTING.md
  eslint.config.mjs
  jest.config.js
  jest.setup.js
  package.json
  src/features/game/components/AnswerOption/AnswerOption.module.css
  src/features/game/lib/getAnswerLetter.test.ts
  src/features/game/lib/getAnswerStatus.test.ts
  src/features/game/logic.test.ts
  src/features/result/components/ResultSummary/ResultSummary.tsx
  src/shared/lib/formatters.test.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

test: add precommit messages
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: update game config
  jest.config.js
  jest.setup.js
  next.config.ts
  src/features/game/config/gameConfig.loader.ts
  src/shared/ui/Typography/Heading/Heading.tsx
  src/shared/ui/Typography/Heading/index.ts
  src/shared/ui/Typography/Text/Text.tsx
  src/shared/ui/Typography/Text/index.ts
  src/shared/ui/icons/CloseIcon/index.ts
  src/shared/ui/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat: sidebar styles
  src/features/game/components/AnswerList/AnswerList.module.css
  src/features/game/components/AnswerOption/AnswerOption.module.css
  src/features/game/components/AnswerOption/AnswerOption.tsx
  src/features/game/components/GameLayout/GameLayout.module.css
  src/features/game/components/MoneyLadder/MoneyLadder.module.css
  src/features/game/components/MoneyLadder/MoneyLadder.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useMediaQuery.ts
  src/shared/ui/DiamondShape/DiamondShape.module.css
  src/shared/ui/DiamondShape/DiamondShape.tsx
  src/shared/ui/DiamondShape/index.ts
  src/shared/ui/icons/CloseIcon/CloseIcon.tsx
  src/shared/ui/icons/MenuIcon/MenuIcon.tsx
  src/shared/ui/icons/MenuIcon/index.ts
  src/shared/ui/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat: game page styles
  src/app/icon.svg
  src/app/layout.tsx
  src/features/game/components/AnswerList/AnswerList.module.css
  src/features/game/components/AnswerOption/AnswerOption.module.css
  src/features/game/components/AnswerOption/AnswerOption.tsx
  src/features/game/components/GameLayout/GameLayout.module.css
  src/features/game/components/GameScreen/GameScreen.module.css
  src/features/game/components/MoneyLadder/MoneyLadder.module.css
  src/features/game/components/MoneyLadder/MoneyLadder.tsx
  src/features/game/components/QuestionCard/QuestionCard.module.css
  src/shared/types/enums.ts
  src/shared/ui/DiamondShape/DiamondShape.tsx
Due: yarn eslint --fix, yarn prettier --write

feat: improve game logic with save question on reload
  src/features/game/constants.ts
  src/features/game/hooks/gameController/constants.ts
  src/features/game/hooks/gameController/index.ts
  src/features/game/hooks/gameController/reducer.ts
  src/features/game/hooks/gameController/storage.ts
  src/features/game/hooks/gameController/types.ts
  src/features/game/hooks/useGameController.ts
  src/features/game/logic.ts
Due: yarn eslint --fix, yarn prettier --write

feat: style main page
  src/app/(home)/page.module.css
  src/shared/ui/Button/Button.module.css
Due: yarn prettier --write

fix: local storage bugs
  src/features/game/components/GameScreen/GameScreen.tsx
  src/features/game/hooks/useGameController.ts
  src/features/result/components/ResultSummary/ResultSummary.tsx
Due: yarn eslint --fix, yarn prettier --write

feat: secure game
  src/features/game/constants.ts
  src/features/game/hooks/gameController/storage.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: *.{ts,tsx,js,jsx}
  yarn prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{css,scss,json,md})
